<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxg.springboot.mapper.OrderMapper">

	<insert id="save" parameterType="com.lxg.springboot.model.Order">
		insert into orders(orderNo,mch_id,openid,description,fee,charges,time,usedScore,bonusScore,state,checkstate,storeid)
		values (#{orderNo},#{mch_id},#{openid},#{description},#{fee},#{charges},#{time},#{usedScore},#{bonusScore},#{state},#{checkstate},#{storeid})
	</insert>
	
	<insert id="saveshop" parameterType="com.lxg.springboot.model.Order">
		insert into storeorders(orderNo,mch_id,openid,description,fee,charges,time,usedScore,bonusScore,state,checkstate,storeid)
		values (#{orderNo},#{mch_id},#{openid},#{description},#{fee},#{charges},#{time},#{usedScore},#{bonusScore},#{state},#{checkstate},#{storeid})
	</insert>
	
	<insert id="savecard" parameterType="com.lxg.springboot.model.Order">
		insert into cardorders(orderNo,mch_id,openid,description,fee,charges,time,usedScore,bonusScore,state,checkstate,storeid)
		values (#{orderNo},#{mch_id},#{openid},#{description},#{fee},#{charges},#{time},#{usedScore},#{bonusScore},#{state},#{checkstate},#{storeid})
	</insert>
	
	<update id="update" parameterType="com.lxg.springboot.model.Order">
		 update orders 
		 set state=#{state}
		 where orderNo=#{orderNo}
	</update>
	
	<update id="updateshop" parameterType="com.lxg.springboot.model.Order">
		 update storeorders 
		 set state=#{state}
		 where orderNo=#{orderNo}
	</update>
	
	<update id="updateshopid" parameterType="com.lxg.springboot.model.Order">
		 update storeorders 
		 set bonusScore=#{bonusScore}
		 where orderNo=#{orderNo}
	</update>
	
	<update id="updatecard" parameterType="com.lxg.springboot.model.Order">
		 update cardorders 
		 set state=#{state}
		 where orderNo=#{orderNo}
	</update>
	
	<update id="updatecheck" parameterType="com.lxg.springboot.model.Order">
		 update orders 
		 set checkstate=#{checkstate}
		 where orderNo=#{orderNo}
	</update>
	
	<update id="updateredpack" parameterType="com.lxg.springboot.model.Order">
		 update redpack 
		 set state=#{state}
		 where description=#{description}
	</update>
	
	<select id="query" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from orders 
		where openid=#{openid}
	</select>
	
	<select id="queryredpack" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from redpack 
		where description=#{description}
	</select>
	
	<select id="countredpack" parameterType="com.lxg.springboot.model.Order" resultType="int">
		select count(*) from redpack 
		where description=#{description} and state=0
	</select>
	
	<select id="querybyno" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from orders 
		where orderNo=#{orderNo}
	</select>
	
	<select id="querybynoshop" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from storeorders 
		where orderNo=#{orderNo}
	</select>
	
	<select id="querybynocard" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from cardorders 
		where orderNo=#{orderNo}
	</select>
	
	<select id="queryshop" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from orders 
		where storeid=#{storeid}
	</select>
	
	<insert id="savegood" parameterType="com.lxg.springboot.model.OrderGood">
		insert into ordergood(orderNo,code,amount,storeid,price,name,specifi)
		values (#{orderNo},#{code},#{amount},#{storeid},#{price},#{name},#{specifi})
	</insert>
	
	<select id="queryGood" parameterType="com.lxg.springboot.model.OrderGood" resultType="com.lxg.springboot.model.OrderGood">
		select * from ordergood 
		where orderNo=#{orderNo}
	</select>
	
	<select id="querybypage" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from orders
		where openid=#{openid}
		order by time DESC
		limit #{page},5
	</select>	

	<select id="querytotalpage" resultType="int">
		select count(orderNo) from orders where openid=#{openid}
	</select>
	
	
	<select id="querybypageshop" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from orders
		where storeid=#{storeid}
		order by time DESC
		limit #{page},5
	</select>	

	<select id="querytotalpageshop" resultType="int">
		select count(orderNo) from orders where storeid=#{storeid}
	</select>
	
	<update id="updatescore" parameterType="com.lxg.springboot.model.Order">
		 update scoreorders 
		 set state=#{state}
		 where orderNo=#{orderNo}
	</update>

	<select id="querybynoscore" parameterType="com.lxg.springboot.model.Order" resultType="com.lxg.springboot.model.Order">
		select * from scoreorders 
		where orderNo=#{orderNo}
	</select>

	<insert id="savescore" parameterType="com.lxg.springboot.model.Order">
		insert into scoreorders(orderNo,mch_id,openid,description,fee,charges,time,usedScore,bonusScore,state,checkstate,storeid)
		values (#{orderNo},#{mch_id},#{openid},#{description},#{fee},#{charges},#{time},#{usedScore},#{bonusScore},#{state},#{checkstate},#{storeid})
	</insert>
</mapper>  