<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxg.springboot.mapper.UserMapper">

	<insert id="save" parameterType="com.lxg.springboot.model.User">
		insert into user(openid,nickname,sex,age,phoneno,address)
		values (#{openid},#{nickname},#{sex},#{age},#{phoneno},#{address})
	</insert>	
	
	<update id="update" parameterType="com.lxg.springboot.model.User">
		 update user 
		 set openid=#{openid},nickname=#{nickname},
		 sex=#{sex},age=#{age},phoneno=#{phoneno},address=#{address} 
		 where openid=#{openid}
	</update>
	
	<select id="query" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from user 
		where openid=#{openid}
	</select>
	
	<select id="count" parameterType="com.lxg.springboot.model.User" resultType="int">
		select count(*) from user 
		where phoneno=#{phoneno} and password=#{password} 
	</select>	
	
	<select id="querybyno" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from user 
		where phoneno=#{phoneno}
	</select>
	
	<insert id="saveboss" parameterType="com.lxg.springboot.model.User">
		insert into userboss(openid,nickname,role,age,phoneno,address,storeid,password)
		values (#{openid},#{nickname},#{role},#{age},#{phoneno},#{address},#{storeid},#{password})
	</insert>
	
	<update id="updateboss" parameterType="com.lxg.springboot.model.User">
		 update userboss 
		 set openid=#{openid},nickname=#{nickname},
		 role=#{role},age=#{age},phoneno=#{phoneno},address=#{address} 
		 where openid=#{openid} and storeid=#{storeid}
	</update>
	
	<update id="updatebossbyphone" parameterType="com.lxg.springboot.model.User">
		 update userboss 
		 set 
		 role=#{role}
		 where phoneno=#{phoneno} and storeid=#{storeid}
	</update>
	
	<update id="deleteauth" parameterType="com.lxg.springboot.model.User">
		 update userboss 
		 set role='noauth'
		 where phoneno=#{phoneno} and storeid=#{storeid} and role='operator'
	</update>
	
	<select id="queryboss" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from userboss 
		where openid=#{openid} and storeid=#{storeid}
	</select>
	
	<select id="querybossrole" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from userboss 
		where role=#{role} and storeid=#{storeid}
	</select>
	
	<select id="querybossbyid" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from userboss 
		where storeid=#{storeid} and role='boss'
	</select>
		
	<select id="querybynoboss" parameterType="com.lxg.springboot.model.User" resultType="com.lxg.springboot.model.User">
		select * from userboss 
		where phoneno=#{phoneno} and (role='boss' or role='operator')
	</select>
	
	<select id="countboss" parameterType="com.lxg.springboot.model.User" resultType="int">
		select count(*) from userboss 
		where phoneno=#{phoneno} and password=#{password} and (role='boss' or role='operator')
	</select>
	
	<select id="bosspay" resultType="int">
		select bosspay from systemparam limit 1
	</select>
	
	<select id="lasttime" resultType="String">
		select lasttime from systemparam limit 1
	</select>
	
	<update id="updatelasttime" parameterType="String">
		update systemparam SET lasttime=#{lasttime} 
	</update>
	
	<select id="queryallboss"  resultType="com.lxg.springboot.model.User">
		select * from userboss  
	</select>
	
	<select id="countbosss" parameterType="com.lxg.springboot.model.User" resultType="int">
		select count(*) from userboss 
		where storeid=#{storeid} 
	</select>
	
	<select id="countbossp" parameterType="com.lxg.springboot.model.User" resultType="int">
		select count(*) from userboss 
		where phoneno=#{phoneno} 
	</select>
	
	<select id="countbossp1" parameterType="com.lxg.springboot.model.User" resultType="int">
		select count(*) from userboss 
		where phoneno=#{phoneno} and (role='boss' or role='operator')
	</select>
	
	<insert id="saveunion" parameterType="com.lxg.springboot.model.Union">
		INSERT INTO unionopen (openid, unionid)
		values (#{openid},#{unionid})
	</insert>
	
	<insert id="saveunionstate" parameterType="com.lxg.springboot.model.Union">
		INSERT INTO tansferflag (unionid,state,uuid)
		values (#{unionid},#{state},#{uuid})
	</insert>
	
	<insert id="updateunionstate" parameterType="com.lxg.springboot.model.Union">
		update tansferflag
		set state=#{state},unionto=#{unionto}
		where uuid=#{uuid}
	</insert>
	
	<select id="getunionid" parameterType="String" resultType="String">
		select unionid from unionopen
		where openid=#{openid} 
	</select>
	
	<select id="getunionstate" parameterType="com.lxg.springboot.model.Union" resultType="int">
		select count(*) from tansferflag
		where uuid=#{uuid} and state=#{state}
	</select>
	
	<insert id="savefinance" parameterType="com.lxg.springboot.model.Finance">
		insert into finance(openid,storeid,score,time)
		values (#{openid},#{storeid},#{score},#{time})
	</insert>	
	
	<select id="queryfinancecount" parameterType="com.lxg.springboot.model.Finance" resultType="int">
		select count(*) from finance
		 where openid=#{openid} and  storeid=#{storeid} 
	</select>
	
	<select id="queryfinancebyid" parameterType="com.lxg.springboot.model.Finance" resultType="com.lxg.springboot.model.Finance">
		select openid,storeid,sum(score) as score,time from (select * from finance
		 where openid=#{openid} and  storeid=#{storeid} ) as temp
	</select>
	
	<update id="deletefinance" parameterType="com.lxg.springboot.model.Finance">
		delete from finance where openid=#{openid} and  storeid=#{storeid}
	</update>
	
	<update id="updatefinance" parameterType="com.lxg.springboot.model.Finance">
		 update finance 
		 set score=#{score}
		 where openid=#{openid} and  storeid=#{storeid}
	</update>
	
	<select id="deletecount" parameterType="com.lxg.springboot.model.Finance" resultType="int">
		select count(*) from finance where openid=#{openid} and storeid=#{storeid}
	</select>
	
	<select id="storecount" parameterType="com.lxg.springboot.model.Finance" resultType="int">
		select count(*) from finance where storeid=#{storeid}
	</select>
	
	<select id="querymax" resultType="int">
			select max(cardNo) from card
	</select>
	
	<insert id="savecard" parameterType="com.lxg.springboot.model.Card">
		INSERT INTO card (cardNo,money)
		values (#{cardNo},#{money})
	</insert>
	
	<update id="updatecard" parameterType="com.lxg.springboot.model.Card">
		 update card 
		 set openid=#{openid}
		 where cardNo=#{cardNo}
	</update>
</mapper>  