<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxg.springboot.mapper.WithDrawMapper">

	<insert id="save" parameterType="com.lxg.springboot.model.Order">
		insert into withdraw(orderNo,mch_id,openid,description,fee,charges,time,usedScore,bonusScore,state)
		values (#{orderNo},#{mch_id},#{openid},#{description},#{fee},#{charges},#{time},#{usedScore},#{bonusScore},#{state})
	</insert>
	
	<update id="update" parameterType="com.lxg.springboot.model.Order">
		 update withdraw 
		 set state=#{state}
		 where orderNo=#{orderNo}
	</update>
	
	<select id="query" parameterType="String" resultType="com.lxg.springboot.model.Order">
		select * from withdraw 
		where openid=#{openid}
	</select>
	
	<insert id="savewith" parameterType="com.lxg.springboot.model.WithDrawDay">
		insert into withdrawday(openid,fee,time,state,storeid,description,role,storename,name)
		values (#{openid},#{fee},#{time},#{state},#{storeid},#{description},#{role},#{storename},#{name})
	</insert>
	
	<insert id="saveerror" parameterType="com.lxg.springboot.model.WithDrawDay">
		insert into withdrawerror(openid,fee,time,state,name,storeid,role,description)
		values (#{openid},#{fee},#{time},#{state},#{name},#{storeid},#{role},#{description})
	</insert>
	
	<select id="queryerror" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select openid,sum(fee) as fee,time,state,storeid,storename,name from (select * FROM withdrawday where state='2'
		<if test="startDate != null and startDate != ''">
    		and time &gt;= #{startDate}
    	</if> 
    	<if test="endDate != null and endDate != ''">
    		and time &lt;= #{endDate}
    	</if>
    	) as temp GROUP BY openid
	</select>
	
	<select id="queryerrortime" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select * from withdrawerror where time &gt;= #{startDate} and time &lt;= #{endDate} and openid=#{openid} and storeid=#{storeid} and role=#{role}
	</select>
	
	<update id="updateerrorfee" parameterType="com.lxg.springboot.model.WithDrawDay">
		 update withdrawerror 
		 set fee=#{fee}
		 where storeid=#{storeid} and time=#{time} and openid=#{openid}
	</update>
	
	<update id="updateerrorstate" parameterType="com.lxg.springboot.model.WithDrawDay">
		 update withdrawerror 
		 set state=#{state}
		 where storeid=#{storeid} and time=#{time} and openid=#{openid}
	</update>
		
	<update id="updatewith" parameterType="com.lxg.springboot.model.WithDrawDay">
		 update withdrawday 
		 set state=#{state},errmsg = #{errmsg}
		 where storeid=#{storeid} and time=#{time} and role=#{role}
	</update>
	
	<select id="querywithman" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select *,fee/100 as feeformat from withdrawday where openid=#{openid} ORDER BY time DESC
		limit #{page},#{pagenum}		
	</select>
	
	<select id="querywithstore" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select *,fee/100 as feeformat from withdrawday 
		where openid=#{openid} and  storeid=#{storeid} ORDER BY time DESC
		limit #{page},#{pagenum}
	</select>
	
		<select id="querywithmannum" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="int">
		select count(*) from withdrawday 
		where openid=#{openid}
	</select>
	
	<select id="querywithstorenum" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="int">
		select count(*) from withdrawday 
		where openid=#{openid} and  storeid=#{storeid}
	</select>
	
	<select id="querywithmansum" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="int">
		select sum(fee) from withdrawday where openid=#{openid} 
	</select>
	
	<select id="querywithstoresum" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select sum(fee) as fee,storeid,storename from (select * from withdrawday where openid=#{openid}) as temp GROUP BY storeid  ORDER BY storeid DESC
		limit #{page},#{pagenum}
	</select>
	
	<select id="querywithstoresumnum" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="int">
		select count(*) from(select * from (select * from withdrawday where openid=#{openid}) as temp GROUP BY storeid) as temp1
	</select>
	
	<select id="queryallerrortime" parameterType="com.lxg.springboot.model.WithDrawDay" resultType="com.lxg.springboot.model.WithDrawDay">
		select * FROM withdrawday where state='2'
		<if test="startDate != null and startDate != ''">
    		and time &gt;= #{startDate}
    	</if> 
    	<if test="endDate != null and endDate != ''">
    		and time &lt;= #{endDate}
    	</if>
	</select>
	
</mapper>  